::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

html, body {
    padding: 0;
    word-break: break-all;
}

section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.layui-layout-admin .layui-body {
    padding: 0;
}

.layui-header {
    line-height: 60px;
    font-size: 16px;
}

.layui-layout-admin .layui-side {
    width: 225px !important;
}

.layui-side-scroll {
    width: 245px !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 24px !important;
    height: auto !important;
}

.layui-logo {
    width: 225px !important;
}

.layui-title {
    position: absolute;
    left: 225px !important;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
}

.layui-title #title {
    flex: 1;
    display: inline-block;
}

.layui-title #logout {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.layui-nav.layui-nav-tree {
    width: 225px !important;
}

.layui-body {
    left: 225px;
}

.layui-form-label {
    width: 120px;
}

.layui-input-block {
    margin-left: 150px;
}

.layui-btn-sm {
    line-height: 28px;
}

.layui-btn-xs {
    line-height: 20px;
}

.layui-btn-container {
    height: 30px;
}

.layui-layer-btn > a[class^=layui-layer-btn] {
    line-height: 28px;
}

.layui-table-page {
    margin-bottom: 0;
}

.version {
    height: 24px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

section.client-info {
    display: flex;
}

section.client-info .text-info {
    flex: 1;
}

section.client-info .text-info {
    padding: 0 20px;
}

section.client-info .text-row {
    display: flex;
    font-size: 14px;
    line-height: 40px;
}

section.client-info .text-row .text-col {
    flex: 1;
}

.layui-layer-btn > a[class^=layui-layer-btn] {
    margin: 0 5px !important;
}

.proxy-popup .layui-layer-setwin {
    top: 0;
    right: 0;
}

.proxy-popup .layui-layer-close2 {
    padding: 0;
    border: none;
    right: 0;
    top: 0;
    background: none;
    border-radius: 0;
    color: #787878;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.proxy-popup .layui-layer-close2:hover {
    background: none;
}

.proxy-popup form {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.proxy-popup .layui-tab {
    flex: 1;
    margin: 0;
}

.proxy-popup .layui-tab .layui-tab-content {
    padding: 0 8px;
    margin: 8px 0;
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 8px;
    right: 8px;
    overflow: auto;
}

.proxy-popup .layui-textarea {
    min-height: 80px;
    padding: 9px 10px;
    resize: none;
}

.proxy-popup .layui-form-select dl {
    max-height: 156px;
}

.proxy-popup .layui-row .layui-form-item {
    margin-bottom: 0;
}

.proxy-popup .extra-param-tab-item .layui-form-item {
    display: flex;
}

.proxy-popup .extra-param-tab-item .layui-form-item:last-child {
    margin-bottom: 0;
}

.proxy-popup .extra-param-tab-item .layui-form-item .layui-input-inline:nth-child(1) {
    width: 200px;
}

.proxy-popup .extra-param-tab-item .layui-form-item .layui-input-inline:nth-child(3) {
    flex: 1;
}

#searchForm input {
    height: 30px;
    line-height: 28px;
}

#searchForm .layui-input-suffix,
#searchForm .layui-input-prefix {
    line-height: 30px;
    padding: 0;
}
